body{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10rem;
    flex-direction: column;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    inline-size: 26rem;
    block-size: auto;
}

.grid img{
    inline-size: 6rem;
    block-size: 6rem;
}